.sidebar {
    height: 100%;
    /* 100% Full-height */
    width: 150px;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #32445b;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 101px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidebar */
}
/* The sidebar links */

.sidebar a {
    padding: 10px;
    text-decoration: none;
    font-size: 14px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
/* When you mouse over the navigation links, change their color */

.sidebar a.nav-link:hover {
    color: white;
    background-color: #ff3547;
}
/* Position and style the close button (top right corner) */

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
/* The button used to open the sidebar */

.openbtn {
    font-size: 25px;
    cursor: pointer;
    color: white;
    padding: 1px 8px;
    border: none;
}
.openbtn:hover {
    background-color: transparent;
    opacity: 0.5;
}
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

.bg-fondo {
    background-color: #ff3547;
}
#main {
    transition: margin-left .5s;
    /* If you want a transition effect */
    padding: 20px;
    margin-top: 120px;
    left: 0;
    bottom: 0;
    margin-left: 150px;
}
.icono {
    font-size: 2em;
}
#barraPrincipal {
    min-height: 100px;
    position: fixed;
}
#barraPrincipal span.navbar-text {
    font-size: 12px;
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }
    .sidebar a {
        font-size: 18px;
    }
}